
@{
    Layout = null;
}

<footer>
    <div class="container">
        <div class="row">
            <div class="col-xs-6 col-sm-3 col-md-3">
                <div class="title">
                    Pentru cumpărători
                </div>
                <ul>
                    <li><a href="@Url.Action("LivrareSiReturnare","Home")">Livrare și returnare</a></li>
                    <li><a href="@Url.Action("PoliticaCookie","Home")">Politica de utilizare Cookie-uri</a></li>
                    <li><a href="@Url.Action("OfertaPublica","Home")">Oferta publică</a></li>
                    <li><a href="@Url.Action("PoliticaDeConfidentialitate","Home")">Politica de confidențialitate</a></li>
                </ul>
            </div>

            <div class="col-xs-6 col-sm-3 col-md-3">
                <div class="title">
                    Despre CosmeticaShop
                </div>
                <ul>
                    <li><a href="@Url.Action("DespreNoi","Home")">Despre noi</a></li>
                    <li><a href="@Url.Action("Contacts","Home")">Contacte</a></li>
                    <li><a href="@Url.Action("VinzariAngro","Home")">Vânzări angro</a></li>
                    <li><a href="@Url.Action("Rechizite","Home")">Rechizite</a></li>
                </ul>
            </div>

            <div class="col-xs-6 col-sm-3 col-md-3">
                <div class="title">
                    Contacte
                </div>
                <ul>
                    <li>
                        <a href="tel:0746114001">@CurrentSetting.PhoneNumber</a>
                    </li>
                    <li>Luni - vineri: 08:00 - 20:00</li>
                    <li>Weekend: 10:00 - 18:00</li>
                </ul>
            </div>

            <div class="col-xs-6 col-sm-3 col-md-3 footer-social">
                <i class="icon-facebook"></i>
                <i class="icon-instagram"></i>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 white-footer">
                <div class="row">
                    <div class="col-xs-6 col-sm-3 col-md-3 mb-10">
                        Copyright © 2018 CosmeticaShop
                    </div>
                    <div class="col-xs-6 col-sm-3 col-md-3">
                        @* хз как по другому мерцание убрать *@
                        <img style="display: none;" src="/assets/img/icons/logo-dois-hover.png"/>
                        Creat de&nbsp;
                        <a href="https://dois.md/ro" target="_blank">
                            <i class="icon-logo-dois"></i>
                        </a>
                    </div>
                </div>
                
            </div>
        </div>

    </div>
</footer>
