
@{
    Layout = null;
}

<div class="head">
    <div class="container">
        <div class="col-md-3 col-sm-3 item head-number">
            <span class="">074 611 4001</span>
        </div>
        <div class="col-md-6 col-sm-6 item" align="center">
            <a href="@Url.Action("Index", "Home")" class="max-width">
                <img src="~/assets/img/site-logo-32.png" width="440" />
            </a>
        </div>
        <div class="col-md-3 col-sm-3 item">
            <div class="pull-right">
                @if (!User.IsAuthorized)
                {
                    <div class="head-auth"><span data-target="#login-modal" data-toggle="modal">Logare</span> / <span data-target="#registration-modal" data-toggle="modal">Înregistrare</span></div>
                }
                else
                {
                    <div class="head-auth"><a href="@Url.Action("Index","Cabinet")">Birou privat</a> / <a href="@Url.Action("LogOut","Home")">Ieșire</a></div>
                }
                <a href="@Url.Action("Index", "Favorites")" class="max-width">
                    <img src="~/assets/img/icons/big-like.png" />
                    @*<i class="icon-big-like"></i>*@
                </a>
                <div id="dropdown-cart-head" style="display:inline-block;" data-bind="with:CartHeaderModel">
                    <div class="dropdown-cart" id="dropdown-cart">
                        <div class="title col-md-12">
                            <span data-bind="text:Model().length"></span> produse în coș
                        </div>
                        <!--ko if:Model().length>0-->
                        <!--ko foreach:Model-->
                        <div class="dropdown-item-cart row col-md-12">
                            <div class="col-md-9 info">
                                <div class="col-md-2 img">
                                    <img data-bind="attr:{src:PhotoUrl}" />
                                </div>
                                <div class="col-md-10 content">
                                    <div class="title-product" data-bind="text:Name">

                                    </div>
                                    <div class="info" data-bind="text:BrandName">

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3" align="right">
                                <div class="title-product">
                                    <span data-bind="text:AmountPrice"></span> lei
                                </div>
                            </div>
                        </div>
                        <!--/ko-->
                        <div class="footer">
                            <div class="row col-md-12">
                                <div class="col-md-7" align="center">
                                    <div><i class="icon-free-delivery"></i></div>
                                    <div class="pink-darkk-text">
                                        Livrare gratuită
                                    </div>
                                </div>

                                <div class="col-md-5 padding-0">
                                    <div class="row">
                                        <div class="col-md-7 info" align="center">
                                            Total în coș
                                        </div>
                                        <div class="col-md-5 value" align="right">
                                            <span data-bind="text:Amount"></span> lei
                                        </div>
                                    </div>
                                    <div class="row" style="display: none" data-bind="style:{display: CartHeaderModel.AmountCoupon()>0 ? 'block' : 'none'}">
                                        <div class="col-md-7">
                                            <div class="col-md-7 info" style="width: 95%" align="center">
                                                Prețul cu reducere:
                                            </div>
                                        </div>
                                        <div class="col-md-5 value" align="right">
                                            <span data-bind="text:CartHeaderModel.AmountCoupon"></span> lei
                                        </div>
                                    </div>
                                    <div class="cart-promo">
                                        <div class="col-md-12 info coupon-dropdown">
                                            @Resource.AddPromoCode
                                        </div>
                                        <div class="col-md-12">
                                            <input style="margin-bottom: 10px;" class="form-control" data-bind="textInput:CartHeaderModel.CouponCode" />
                                        </div>
                                        <div style=" display: none;" data-bind="style:{display:CartHeaderModel.CouponCode()==='' ? 'none' : 'block'}">
                                            <button style="    margin: 0 0px 10px 17px;" class="btn-pink" data-bind="click:CartHeaderModel.AcceptCoupon.bind(CartHeaderModel)">Aplică</button>
                                        </div>
                                    </div>
                                    <div class="col-md-12 item-btn">

                                        <a data-bind="click:CartHeaderModel.PreparationOrder.bind(CartHeaderModel)" style="cursor: pointer;" class="btn-pink">
                                            Plasează comanda
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--/ko-->
                    </div>
                    <a href="@Url.Action("Index", "Cart")">
                        <img src="~/assets/img/icons/cart.png" id="icon-cart-header" />
                        @*<i class="icon-cart"></i>*@
                    </a>
                    <span class="count-cart" data-bind="text:Model().length"></span>
                </div>

            </div>
        </div>
    </div>
</div>

<header class="navbar" id="top" role="banner">
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <span class="navbar-collapse-number">074 611 4001</span>
        </div>
        <nav class="collapse navbar-collapse" role="navigation">
            <div class="row">
                <div class="col-md-offset-1 col-md-9 col-sm-10">
                    @Html.Action("NavigationPartial", "Home")
                </div>
                <div class="col-md-2 col-sm-2 menu-search" data-bind="with:SeachFormModel">
                    <input placeholder="căutare" data-bind="textInput:Search,event:{keypress:function(data,e){if(e.keyCode === 13){GetSearch(SeachFormModel)}else return true;}}" />
                </div>
            </div>
        </nav>
    </div>
</header>


@*<div class="navbar navbar-inverse navbar-fixed-top header-menu">
    <div class="container">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

        </div>
        <div class="navbar-collapse collapse menu">
            @Html.Action("NavigationPartial", "Home")
            <div class="pull-right">
                <div class="menu-search" data-bind="with:SeachFormModel">
                    <input placeholder="căutare" data-bind="textInput:Search,event:{keypress:function(data,e){if(e.keyCode === 13){GetSearch(SeachFormModel)}else return true;}}" />
                </div>
            </div>
        </div>

    </div>
</div>*@

