@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    @Html.Partial("Partial/_styles")
    @RenderSection("styles", false)
</head>
<!-- END HEAD -->
<body class="page-container-bg-solid page-header-fixed page-sidebar-closed-hide-logo">
    @Html.Partial("Partial/HeaderPartial")
    <!-- BEGIN HEADER & CONTENT DIVIDER -->
    <div class="clearfix"> </div>
    <!-- END HEADER & CONTENT DIVIDER -->
    <!-- BEGIN CONTAINER -->
    <div class="page-container">
        @Html.Partial("Partial/LeftSideBar")
        <!-- BEGIN CONTENT -->
        <div class="page-content-wrapper">
            <!-- BEGIN CONTENT BODY -->
            <div class="page-content">
                @RenderSection("breadcrumb", false)
                
                @RenderBody()
            </div>
            <!-- END CONTENT BODY -->
        </div>
        <!-- END CONTENT -->
    </div>
    <!-- END CONTAINER -->
    @Html.Partial("Partial/FooterPartial")
    @Html.Partial("Partial/_scripts")
    @RenderSection("scripts", false)
<script src="~/Areas/Admin/assets/js/init.js"></script>
</body>
</html>