
@using Newtonsoft.Json
@model CosmeticaShop.Web.Models.CabinetViewModel
@{
    ViewBag.Title = "Index";
}

@section Scripts {
<script src="~/assets/js/User/UserModel.js"></script>
<script src="~/assets/js/Cabinet/PersonalFormModel.js"></script>
<script src="~/assets/js/Common/DateSelect.js"></script>
    <script>

        var params = {}
        params.UrlEdit = '@Url.Action("EditPersonData","Cabinet")';
        params.Model = @Html.Raw(JsonConvert.SerializeObject(Model.User));
        params.Cities =   @Html.Raw(JsonConvert.SerializeObject(Model.Cities));
        var FormModel = new Cabinet.PersonalFormModel(params);
    </script>
}

<div class="col-md-12 white-container marginB-heigth-10">
    <div class="default-text navigation">
        <a href="@Url.Action("Index","Home")"> Principală </a> > 
        <a href="@Url.Action("Index","Cabinet")"> <span class="pink-darkk-text">Profilul meu</span></a>
    </div>
</div>

<div class="col-md-3 white-container">
    <div class="block">
        <div class="content grey">
            <ul class="menu">
                <li>
                    <a href="@Url.Action("Index")"><span class="active"> Datele personale</span></a>
                </li>
                <li>
                    <a href="@Url.Action("HistoryOrders")"> <span>@Resource.MyOrders</span></a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="col-md-9 white-container big"  data-bind="with:FormModel">
    <div class="title">
        Datele personale
    </div>
    <form class="form-order cabinet" data-bind="with:UserModel">
        <div class="col-md-4  item-form">
            <div class="form-group">
                <div>
                    <label>@Resource.FirstName:</label>
                </div>
                <div class="col-md-12">
                    <input name="FirstName" type="text" data-bind="textInput:FirstName" class="form-control" />
                </div>
            </div>

            <div class="form-group">
                <div>
                    <label>@Resource.LastName:</label>
                </div>
                <div class="col-md-12">
                    <input name="LastName" type="text"  data-bind="textInput:LastName" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <div>
                    <label>E-mail</label>
                </div>
                <div class="col-md-12">
                    <input name="Email" type="email"  data-bind="textInput:Email" class="form-control" />
                </div>
            </div>
        </div>
        <div class="col-md-4 col-md-offset-1  item-form">
            <div class="form-group">
                <div>
                    <label>Parola nouă:</label>
                </div>
                <div class="col-md-12">
                    <input name="Password" type="password" data-bind="textInput:Password" class="form-control" />
                </div>
            </div>

            <div class="form-group">
                <div>
                    <label>Confirmă parola:</label>
                </div>
                <div class="col-md-12">
                    <input name="ConfrimPassword" type="password" data-bind="textInput:$parent.ConfrimPassword"  class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <div>
                    <label>Data nașterii:</label>
                </div>
                <div class="datepicker-birth">
                    <div class="col-md-4">
                        <select class="form-control" data-bind="options:DateDaySelect,value:DateDay,optionsCaption:'Ziua'">
                            <option value="" disabled selected>Ziua</option>                       
                        </select>
                    </div>
                    <div class="col-md-4">
                        <select class="form-control" data-bind="options:DateMonthSelect,value:DateMonth,optionsCaption:'Luna'">
                            <option value="" disabled selected>Luna</option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <select class="form-control" data-bind="options:DateYearSelect,value:DateYear,optionsCaption:'Anul'">
                            <option value="" disabled selected>Anul</option>
                        </select>
                    </div>
                </div>

            </div>


        </div>

        <div class="col-md-4  item-form">
            <div class="title">
                Adresa de livrare:
            </div>
            <div class="form-group">
                <div>
                    <label>Țara:</label>
                </div>
                <div class="col-md-12">
                    <input name="Country" type="text" disabled  data-bind="textInput:Country" class="form-control" />
                </div>
            </div>

            <div class="form-group">
                <div>
                    <label>Orașul:</label>
                </div>
                <div class="col-md-12">
                    <select class="form-control" data-bind="options:$parent.Cities,optionsText:'Name',optionsValue:'Name',value:City">         
                    </select>                  
                </div>
            </div>
            <div class="form-group">
                <div>
                    <label>Adresa:</label>
                </div>
                <div class="col-md-12">
                    <input name="Address" type="text"   data-bind="textInput:Address" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <div>
                    <label>Telefon:</label>
                </div>
                <div class="col-md-12">
                    <input name="Phone" type="text" data-bind="textInput:Phone" class="form-control" />
                </div>
            </div>

        </div>

        <div class="col-md-11 footer item-form" align="center">
            <div class="p-error" data-bind="text:$parent.ErrorMessage"></div>
            <button type="submit" data-bind="click:$parent.EditData.bind($parent)" class="btn-pink">Salvează</button>
        </div>
    </form>



</div>