<!DOCTYPE html>
<html>
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-116157740-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-116157740-1');
    </script>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="@ViewBag.Keywords" />
    <meta name="description" content="@ViewBag.Description" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("Styles", required: false)
    <link rel="shortcut icon" href="/favicon.ico" />
</head>
<body>
    @Html.Partial("~/Views/Shared/Partial/_Header.cshtml")
    <div class="container body-content wrap">
        @RenderBody()


    </div>

    @Html.Partial("~/Views/Shared/Partial/_Footer.cshtml")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/bootbox.min.js"></script>
    <script src="~/Scripts/knockout-3.4.2.js"></script>
    <script src="~/assets/js/User/UserModel.js"></script>
    <script src="~/assets/js/Authorization/RegisterFormModel.js"></script>
    <script src="~/assets/js/Authorization/AuthorizationFormModel.js"></script>
    <script src="~/assets/js/Authorization/PasswordRecoveryMode.js"></script>
    <script src="~/assets/js/Cart/CartModel.js"></script>
    <script src="~/assets/js/Cart/CartViewModel.js"></script>
    <script src="~/assets/js/Product/SearchFormModel.js"></script>
    <script>
        var paramsRegister = {}
        paramsRegister.UrlRegister = '@Url.Action("Register","Home")';
        paramsRegister.UrlGetAllCities = '@Url.Action("GetAllCities","Home")';
        var RegisterFormModel = new Authorization.RegisterFormModel(paramsRegister);
        var paramsLogin = {}
        paramsLogin.UrlLogin = '@Url.Action("Login","Home")';
        var AuthorizationFormModel = new Authorization.AuthorizationFormModel(paramsLogin);

        var searchLoaction = window.location.search.substr(1),
            keys = {};
        searchLoaction.split('&').forEach(function (item) {
            item = item.split('=');
            keys[item[0]] = item[1];
        });


        var paramsCart = {};
        paramsCart.UrlGetCart = '@Url.Action("GetCart","Cart")';
        paramsCart.UrlOrder = '@Url.Action("Index","Order")';
        paramsCart.UrlPreparationOrder = '@Url.Action("PreparationOrder","Cart")';
        paramsCart.UrlAcceptCoupon = '@Url.Action("AcceptCoupon","Cart")';
        var CartHeaderModel = new Cart.CartViewModel(paramsCart);
        var paramsSearch = {}
        paramsSearch.UrlProduct = '@Url.Action("Index","Product")';
        var SeachFormModel = new Product.SearchFormModel(paramsSearch);
    </script>
    @RenderSection("Scripts", required: false)
    @Html.Partial("~/Views/Shared/Popup/Authorization.cshtml")
    @Html.Partial("~/Views/Shared/Popup/Cart.cshtml")
    <script>
    var paramsRecovery = {};
    paramsRecovery.Model = keys;
    paramsRecovery.IdModalRestorePassword = '#password-recovery';
    paramsRecovery.UrlRecovery = '@Url.Action("ForgetPassword","Home")';
    paramsRecovery.UrlChangePassword = '@Url.Action("ChangePassword","Home")';
    var PasswordRecoveryModel = new Authorization.PasswordRecoveryMode(paramsRecovery);
    $("#dropdown-cart-head").mouseover(function () {
        $("#dropdown-cart").css("display", "block");
    });
    $("#dropdown-cart-head").mouseleave(function () {
        $("#dropdown-cart").css("display", "none");
    });

    ko.applyBindings();
    </script>
    <!-- BEGIN JIVOSITE CODE {literal} -->
    <script type='text/javascript'>
        (function () {
            var widget_id = '2fXETHCwAX'; var d = document; var w = window; function l() {
                var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = '//code.jivosite.com/script/widget/' + widget_id; var ss = document.getElementsByTagName('script')[0]; ss.parentNode.insertBefore(s, ss);
            } if (d.readyState == 'complete') { l(); } else { if (w.attachEvent) { w.attachEvent('onload', l); } else { w.addEventListener('load', l, false); } }
        })();</script>
    <!-- {/literal} END JIVOSITE CODE -->
</body>
</html>

