@model List<CosmeticaShop.IServices.Models.Order.OrderProductsModel>
@{
    ViewBag.Title = "Index";
}



<div class="row">
    <div class="col-md-12 white-container marginB-heigth-10">
        <div class="default-text navigation">
            <a href="@Url.Action("Index","Home")"> Principală </a> >  <span class="pink-darkk-text">Coșul meu</span></a>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-9 white-container cart-container">
        <div class="row">
            <div class="block ">
                <div class="title-block">
                    Produse în coș: <span>@Model.Count</span>
                </div>
                <div class="content">
                    @foreach (var product in Model)
                    {
                        <div class="row">
                            <div class="item-cart">
                                <div class="col-md-8 padding-0" >
                                    <div class="col-md-3 padding-0" >
                                        <img src="@product.Product.PhotoUrl"/>
                                    </div>
                                    <div class="col-md-9">
                                        <div class="title-cart">
                                          @product.Product.Name
                                        </div>
                                        <div class="description">
                                            @product.Product.BrandName
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 right-container-cart">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <select class="form-control select-count cart-select">
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4</option>
                                                <option>5</option>
                                                <option>6</option>
                                                <option>7</option>
                                                <option>8</option>
                                                <option>9</option>
                                                <option>10</option>
                                            </select>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="title-container">
                                                Preț: @product.Price Lei
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <button class="btn-pink close-pink-btn">X</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }

                </div>
            </div>

        </div>
    </div>
    <div class="col-md-3 white-container margin-bottom-10">
        <div class="row">
            <div class="block menu-cart">
                <div class="details">
                    <div class="title-menu-cart">
                        Detaliile comenzii:
                    </div>
                    <div class="row">
                        <div class="col-md-8 description">
                            Total pentru produse
                        </div>
                        <div class="col-md-4 value-menu">
                            450 lei
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8 description">
                            Livrarea
                        </div>
                        <div class="col-md-4 value-menu">
                            GRATIS
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-7">
                        <div class="pull-right">
                            TOTAL:
                        </div>
                    </div>
                    <div class="col-md-4 col-md-offset-1">
                        450 lei
                    </div>
                </div>
                <div class="cart-promo">
                    <div class="col-md-12">
                        Adaugă PROMO cod
                    </div>
                    <div class="col-md-12">
                        <input class="form-control" />
                    </div>
                </div>
                <div class="cart-footer">
                    <button class="btn-pink">Plasează comanda</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3 white-container">
        <div class="row">
            <div class="block menu-cart light">

                <div class="title-menu-cart">
                    Ai nevoie de consultație?
                </div>
                <div class="row">
                    <div class="col-md-12 description pink-text">
                        contactează-ne
                        <div>
                            000-000-000-000
                        </div>
                    </div>
                </div>
                <div class="cart-footer">
                    suntem disponibili 08:00 - 20:00
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <section>
        <div class="section-name">Reduceri de azi</div>
        <div class="row product-list">
            <div class="col-md-3">
                <div class="item">
                    <div class="product-content">
                        <div class="product-img">
                            <img src="~/assets/img/Temp/product3.png" />
                            <div class="discount">reducere -35%</div>
                        </div>
                        <div class="product-description title">
                            <span class="pink-text">
                                elf cosmetics
                            </span>
                        </div>
                        <div class="product-description">
                            <span class="grey-text">illuminating eye cream</span>
                        </div>
                        <div class="product-description">
                            <span class="grey-price crossOut-pink ">150 lei</span>
                            <div>
                                <span class="pink-price">99 lei</span>
                            </div>
                        </div>
                    </div>
                    <div class="product-footer">
                        <div class="pull-left">
                            <i class="icon-like"></i>
                        </div>
                        <div class="pull-right">
                            <span>iau!</span> <i class="icon-product-cart"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="item">
                    <div class="product-content">
                        <div class="product-img">
                            <img src="~/assets/img/Temp/product.png" />
                        </div>
                        <div class="product-description title">
                            <span class="pink-text">
                                jean destrees
                            </span>
                        </div>
                        <div class="product-description">
                            <span class="grey-text">cc cream</span>
                        </div>
                        <div class="product-description">
                            <span class="grey-price">150 lei</span>
                        </div>
                    </div>
                    <div class="product-footer">
                        <div class="pull-left">
                            <i class="icon-like"></i>
                        </div>
                        <div class="pull-right">
                            <span>iau!</span> <i class="icon-product-cart"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="item">
                    <div class="product-content">
                        <div class="product-img">
                            <img src="~/assets/img/Temp/product2.png" />
                        </div>
                        <div class="product-description title">
                            <span class="pink-text">
                                christina
                                cosmetics
                            </span>
                        </div>
                        <div class="product-description">
                            <span class="grey-text">
                                BIO PHYTO
                                ANTI ROUGEURS MASK
                            </span>
                        </div>
                        <div class="product-description">
                            <span class="grey-price">150 lei</span>
                        </div>
                    </div>
                    <div class="product-footer">
                        <div class="pull-left">
                            <i class="icon-like"></i>
                        </div>
                        <div class="pull-right">
                            <span>iau!</span> <i class="icon-product-cart"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="item">
                    <div class="product-content">
                        <div class="product-img">
                            <img src="~/assets/img/Temp/product3.png" />
                        </div>
                        <div class="product-description title">
                            <span class="pink-text">
                                elf cosmetics
                            </span>
                        </div>
                        <div class="product-description">
                            <span class="grey-text">illuminating eye cream</span>
                        </div>
                        <div class="product-description">
                            <span class="grey-price">150 lei</span>
                        </div>
                    </div>
                    <div class="product-footer">
                        <div class="pull-left">
                            <i class="icon-like"></i>
                        </div>
                        <div class="pull-right">
                            <span>iau!</span> <i class="icon-product-cart"></i>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
</div>
    