@using CosmeticaShop.Services.Static
@using Newtonsoft.Json
@model CosmeticaShop.Web.Models.CartViewModel
@{
    ViewBag.Title = "Index";
}

@section Scripts {
<script src="~/assets/js/Product/ProductModel.js"></script>
<script src="~/assets/js/Product/ProductLineView.js"></script>
    <script src="~/assets/js/Cart/CartModel.js"></script>
    <script src="~/assets/js/Cart/CartViewModel.js"></script>
    
    <script>
        var params = {};
        params.UrlPreparationOrder = '@Url.Action("PreparationOrder","Cart")';
        params.UrlOrder = '@Url.Action("Index","Order")';
        params.UrlDeleteProduct = '@Url.Action("DeleteProduct","Cart")';
        params.Model = @Html.Raw(JsonConvert.SerializeObject(Model.OrderProducts));
        var ViewModel = new Cart.CartViewModel(params);
        var paramsDiscount = {};
        paramsDiscount.Products = @Html.Raw(JsonConvert.SerializeObject(Model.DiscountProducts));
        var DiscountsModel = new Product.ProductLineView(paramsDiscount);
    </script>
}

<div class="row">
    <div class="col-md-12 white-container marginB-heigth-10">
        <div class="default-text navigation">
            <a href="@Url.Action("Index","Home")"> Principală </a> >  <span class="pink-darkk-text">Coșul meu</span></a>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-9 white-container cart-container" style="min-height: 450px;" data-bind="with:ViewModel">
        <div class="row">
            <div class="block ">
                <div class="title-block">
                    Produse în coș: <span>@Model.OrderProducts.Count</span>
                </div>
                <div class="content" data-bind="foreach:Model">
                 
                        <div class="row">
                            <div class="item-cart">
                                <div class="col-md-6 padding-0">
                                    <div class="col-md-4 padding-0">
                                        <img data-bind="attr:{src:PhotoUrl}" />
                                    </div>
                                    <div class="col-md-8">
                                        <div class="title-cart" data-bind="text:Name">
                                    
                                        </div>
                                        <div class="description" data-bind="text:BrandName">
                                            
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 right-container-cart">
                                    <div class="row">
                                        <div class="col-md-5">
                                         
                                            <span class="minus" data-bind="click:Quantity.bind($data,Quantity()-1>0? Quantity()-1 : Quantity())">-</span>
                                            <span class="counter" data-bind="text:Quantity"></span>
                                            <span class="plus" data-bind="click:Quantity.bind($data,Quantity()+1)">+</span>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="title-container">
                                                @Resource.Price:<span data-bind="text:AmountPrice"></span> Lei
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <button class="btn-pink close-pink-btn" data-bind="click:ViewModel.DeleteProduct.bind(ViewModel,ProductId())">X</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                  

                </div>
            </div>

        </div>
    </div>
    <div class="col-md-3 white-container margin-bottom-10">
        <div class="row">
            <div class="block menu-cart">
                <div class="details">
                    <div class="title-menu-cart">
                        Detaliile comenzii:
                    </div>
                    <div class="row">
                        <div class="col-md-8 description">
                            Total pentru produse
                        </div>
                        <div class="col-md-4 value-menu">
                            <span data-bind="text:ViewModel.Amount"></span> lei
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8 description">
                            Livrarea
                        </div>
                        <div class="col-md-4 value-menu">
                            GRATIS
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-7">
                        <div class="pull-right">
                            TOTAL:
                        </div>
                    </div>
                    <div class="col-md-4 col-md-offset-1">
                        <span data-bind="text:ViewModel.Amount"></span> lei
                    </div>
                </div>
                <div class="cart-promo">
                    <div class="col-md-12">
                        @Resource.AddPromoCode
                    </div>
                    <div class="col-md-12">
                        <input class="form-control" data-bind="textInput:ViewModel.CouponCode" />
                    </div>
                </div>
                <div class="cart-footer">
                    <p class="p-error" data-bind="text:ViewModel.ErrorMessage"></p>
                    <button class="btn-pink" data-bind="click:ViewModel.PreparationOrder.bind(ViewModel)">Plasează comanda</button>
                </div>
            </div>
        </div>
    </div>
    
    <div class="col-md-3 white-container">
        <div class="row">
            <div class="block menu-cart light">

                <div class="title-menu-cart">
                    Ai nevoie de consultație?
                </div>
                <div class="row">
                    <div class="col-md-12 description pink-text">
                        contactează-ne
                        <div>
                            000-000-000-000
                        </div>
                    </div>
                </div>
                <div class="cart-footer">
                    suntem disponibili 08:00 - 20:00
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <section>
        <div class="section-name">Reduceri</div>
        <div class="row product-list" data-bind="foreach:DiscountsModel.Products">

            <div class="col-md-3">
                <div class="item">
                    <div class="product-content">
                        <a data-bind="attr:{href:'@Url.Action("Details","Product")?id='+Id()}">
                            <div class="product-img">
                                <img data-bind="attr:{src:PhotoUrl}" />
                                <!--ko if:DiscountPercent()!==0-->
                                <div class="discount" style="visibility:hidden;" data-bind="style:{visibility:DiscountPercent()!==0 ?'visible': 'hidden'}">
                                    reducere  <div>
                                        -<span data-bind="text:DiscountPercent">35</span>%
                                    </div>
                                </div>
                                <!--/ko-->
                            </div>
                        </a>
                        <a data-bind="attr:{href:'@Url.Action("Details","Product")?id='+Id()}">
                            <div class="product-description title">
                                <span class="pink-text" data-bind="text:BrandName">

                                </span>
                            </div>
                        </a>
                        <a data-bind="attr:{href:'@Url.Action("Details","Product")?id='+Id()}">
                            <div class="product-description">
                                <span class="grey-text" data-bind="text:Name"></span>
                            </div>
                        </a>

                        <div class="product-description">
                            <!--ko if:DiscountPercent()!==0-->
                            <span class="grey-price crossOut-pink" data-bind="text:Price()+' lei'"></span>
                            <div>
                                <span class="pink-price" data-bind="text:DiscountPrice()+' lei'"></span>
                            </div>
                            <!--/ko-->
                            <!--ko if:DiscountPercent()===0-->
                            <span class="grey-price" data-bind="text:Price()+' lei'"></span>
                            <!--/ko-->
                        </div>
                    </div>
                    <div class="product-footer">
                        <!--ko if:IsWish-->
                        <div class="pull-left" data-bind="click:DeleteWish">
                            <i class="icon-pink-like "></i>
                        </div>
                        <!--/ko-->
                        <!--ko ifnot:IsWish-->
                        <div class="pull-left" data-bind="click:AddProductWish.bind($data,'pageWish')">
                            <i class="icon-like "></i>
                        </div>
                        <!--/ko-->
                        <div class="pull-right" data-bind="click:AddProductCart">
                            <span style="cursor: pointer;">iau!</span> <i class="icon-product-cart"></i>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </section>
</div>
