@{
    ViewBag.IsHome = true;
}
@section Styles {
    <link href="~/assets/js/Plugins/slick/slick.css" rel="stylesheet" />
    <link href="~/assets/js/Plugins/slick/slick-theme.css" rel="stylesheet" />
}
@section Scripts {
    <script src="~/assets/js/Plugins/slick/slick.js"></script>
    <script>
        $('.main-slider').slick({
            slidesToShow: 2,
            slidesToScroll: 1,
            autoplay: true,
            autoplaySpeed: 2000,
            prevArrow: '<span  class="slick-prev-pink"> </span>',
            nextArrow: '<span class="slick-next-pink"> </span>'
        });
    </script>
}

@*@Html.Action("SitePageSettings","Home",new {page=EnumSitePage.Home})*@

@Html.Action("SliderPartial","Home")

<section>
    <div class="section-name">BRANDS</div>
    <div class="row brand-list">
        <div class="col-md-3">
            <div class="item">
                <a href="@Url.Action("Index","Product")">
                    <div class="brand-img">
                        <img src="~/assets/img/Temp/Jean.png" />
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-3 ">
            <div class="item">
                <div class="brand-img">
                    <img src="~/assets/img/Temp/Christina.png" />
                </div>
            </div>
        </div>
        <div class="col-md-3 ">
            <div class="item">
                <div class="brand-img">
                    <img src="~/assets/img/Temp/Loreal.png" />
                </div>
            </div>
        </div>
        <div class="col-md-3 ">
            <div class="item">
                <div class="brand-img">
                    <img src="~/assets/img/Temp/Loreal.png" />
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="section-name">BestSELLERS</div>
    <div class="row product-list">
        <div class="col-md-3">
            <div class="item">
                <div class="product-content">
                    <a href="@Url.Action("Details","Product")">
                        <div class="product-img">
                            <img src="~/assets/img/Temp/product3.png" />
                            <div class="discount">reducere -35%</div>
                        </div>
                    </a>
                    <a href="@Url.Action("Details","Product")">
                        <div class="product-description title">
                            <span class="pink-text">
                                elf cosmetics
                            </span>
                        </div>
                    </a>
                    <a href="@Url.Action("Details","Product")">
                        <div class="product-description">
                            <span class="grey-text">illuminating eye cream</span>
                        </div>
                    </a>
                    <div class="product-description">
                        <span class="grey-price crossOut-pink ">150 lei</span>
                        <div>
                            <span class="pink-price">99 lei</span>
                        </div>
                    </div>
                </div>
                <div class="product-footer">
                    <div class="pull-left">
                        <i class="icon-like"></i>
                    </div>
                    <div class="pull-right">
                        <span>iau!</span> <i class="icon-product-cart"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="item">
                <div class="product-content">
                    <div class="product-img">
                        <img src="~/assets/img/Temp/product.png" />
                    </div>
                    <div class="product-description title">
                        <span class="pink-text">
                            jean destrees
                        </span>
                    </div>
                    <div class="product-description">
                        <span class="grey-text">cc cream</span>
                    </div>
                    <div class="product-description">
                        <span class="grey-price">150 lei</span>
                    </div>
                </div>
                <div class="product-footer">
                    <div class="pull-left">
                        <i class="icon-like"></i>
                    </div>
                    <div class="pull-right">
                        <span>iau!</span> <i class="icon-product-cart"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="item">
                <div class="product-content">
                    <div class="product-img">
                        <img src="~/assets/img/Temp/product2.png" />
                    </div>
                    <div class="product-description title">
                        <span class="pink-text">
                            christina
                            cosmetics
                        </span>
                    </div>
                    <div class="product-description">
                        <span class="grey-text">
                            BIO PHYTO
                            ANTI ROUGEURS MASK
                        </span>
                    </div>
                    <div class="product-description">
                        <span class="grey-price">150 lei</span>
                    </div>
                </div>
                <div class="product-footer">
                    <div class="pull-left">
                        <i class="icon-like"></i>
                    </div>
                    <div class="pull-right">
                        <span>iau!</span> <i class="icon-product-cart"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="item">
                <div class="product-content">
                    <div class="product-img">
                        <img src="~/assets/img/Temp/product3.png" />
                    </div>
                    <div class="product-description title">
                        <span class="pink-text">
                            elf cosmetics
                        </span>
                    </div>
                    <div class="product-description">
                        <span class="grey-text">illuminating eye cream</span>
                    </div>
                    <div class="product-description">
                        <span class="grey-price">150 lei</span>
                    </div>
                </div>
                <div class="product-footer">
                    <div class="pull-left">
                        <i class="icon-like"></i>
                    </div>
                    <div class="pull-right">
                        <span>iau!</span> <i class="icon-product-cart"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="item">
                <div class="product-content">
                    <div class="product-img">
                        <img src="~/assets/img/Temp/product.png" />
                    </div>
                    <div class="product-description title">
                        <span class="pink-text">
                            jean destrees
                        </span>
                    </div>
                    <div class="product-description">
                        <span class="grey-text">cc cream</span>
                    </div>
                    <div class="product-description">
                        <span class="grey-price">150 lei</span>
                    </div>
                </div>
                <div class="product-footer">
                    <div class="pull-left">
                        <i class="icon-like"></i>
                    </div>
                    <div class="pull-right">
                        <span>iau!</span> <i class="icon-product-cart"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="item">
                <div class="product-content">
                    <div class="product-img">
                        <img src="~/assets/img/Temp/product3.png" />
                        <div class="discount">reducere -35%</div>
                    </div>
                    <div class="product-description title">
                        <span class="pink-text">
                            elf cosmetics
                        </span>
                    </div>
                    <div class="product-description">
                        <span class="grey-text">illuminating eye cream</span>
                    </div>
                    <div class="product-description">
                        <span class="grey-price crossOut-pink ">150 lei</span>
                        <div>
                            <span class="pink-price">99 lei</span>
                        </div>
                    </div>
                </div>
                <div class="product-footer">
                    <div class="pull-left">
                        <i class="icon-like"></i>
                    </div>
                    <div class="pull-right">
                        <span>iau!</span> <i class="icon-product-cart"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="item">
                <div class="product-content">
                    <div class="product-img">
                        <img src="~/assets/img/Temp/product2.png" />
                    </div>
                    <div class="product-description title">
                        <span class="pink-text">
                            christina
                            cosmetics
                        </span>
                    </div>
                    <div class="product-description">
                        <span class="grey-text">illuminating eye cream</span>
                    </div>
                    <div class="product-description">
                        <span class="grey-price">150 lei</span>
                    </div>
                </div>
                <div class="product-footer">
                    <div class="pull-left">
                        <i class="icon-like"></i>
                    </div>
                    <div class="pull-right">
                        <span>iau!</span> <i class="icon-product-cart"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="item">
                <div class="product-content">
                    <div class="product-img">
                        <img src="~/assets/img/Temp/product3.png" />
                        <div class="discount">reducere -35%</div>
                    </div>
                    <div class="product-description title">
                        <span class="pink-text">
                            elf cosmetics
                        </span>
                    </div>
                    <div class="product-description">
                        <span class="grey-text">illuminating eye cream</span>
                    </div>
                    <div class="product-description">
                        <span class="grey-price crossOut-pink ">150 lei</span>
                        <div>
                            <span class="pink-price">99 lei</span>
                        </div>
                    </div>
                </div>
                <div class="product-footer">
                    <div class="pull-left">
                        <i class="icon-like"></i>
                    </div>
                    <div class="pull-right">
                        <span>iau!</span> <i class="icon-product-cart"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="section-name">Recomended</div>
    <div class="row product-list">
        <div class="col-md-3">
            <div class="item">
                <div class="product-content">
                    <div class="product-img">
                        <img src="~/assets/img/Temp/product3.png" />
                        <div class="discount">reducere -35%</div>
                    </div>
                    <div class="product-description title">
                        <span class="pink-text">
                            elf cosmetics
                        </span>
                    </div>
                    <div class="product-description">
                        <span class="grey-text">illuminating eye cream</span>
                    </div>
                    <div class="product-description">
                        <span class="grey-price crossOut-pink ">150 lei</span>
                        <div>
                            <span class="pink-price">99 lei</span>
                        </div>
                    </div>
                </div>
                <div class="product-footer">
                    <div class="pull-left">
                        <i class="icon-like"></i>
                    </div>
                    <div class="pull-right">
                        <span>iau!</span> <i class="icon-product-cart"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="item">
                <div class="product-content">
                    <div class="product-img">
                        <img src="~/assets/img/Temp/product.png" />
                    </div>
                    <div class="product-description title">
                        <span class="pink-text">
                            jean destrees
                        </span>
                    </div>
                    <div class="product-description">
                        <span class="grey-text">cc cream</span>
                    </div>
                    <div class="product-description">
                        <span class="grey-price">150 lei</span>
                    </div>
                </div>
                <div class="product-footer">
                    <div class="pull-left">
                        <i class="icon-like"></i>
                    </div>
                    <div class="pull-right">
                        <span>iau!</span> <i class="icon-product-cart"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="item">
                <div class="product-content">
                    <div class="product-img">
                        <img src="~/assets/img/Temp/product2.png" />
                    </div>
                    <div class="product-description title">
                        <span class="pink-text">
                            christina
                            cosmetics
                        </span>
                    </div>
                    <div class="product-description">
                        <span class="grey-text">
                            BIO PHYTO
                            ANTI ROUGEURS MASK
                        </span>
                    </div>
                    <div class="product-description">
                        <span class="grey-price">150 lei</span>
                    </div>
                </div>
                <div class="product-footer">
                    <div class="pull-left">
                        <i class="icon-like"></i>
                    </div>
                    <div class="pull-right">
                        <span>iau!</span> <i class="icon-product-cart"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="item">
                <div class="product-content">
                    <div class="product-img">
                        <img src="~/assets/img/Temp/product3.png" />
                    </div>
                    <div class="product-description title">
                        <span class="pink-text">
                            elf cosmetics
                        </span>
                    </div>
                    <div class="product-description">
                        <span class="grey-text">illuminating eye cream</span>
                    </div>
                    <div class="product-description">
                        <span class="grey-price">150 lei</span>
                    </div>
                </div>
                <div class="product-footer">
                    <div class="pull-left">
                        <i class="icon-like"></i>
                    </div>
                    <div class="pull-right">
                        <span>iau!</span> <i class="icon-product-cart"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="item">
                <div class="product-content">
                    <div class="product-img">
                        <img src="~/assets/img/Temp/product.png" />
                    </div>
                    <div class="product-description title">
                        <span class="pink-text">
                            jean destrees
                        </span>
                    </div>
                    <div class="product-description">
                        <span class="grey-text">cc cream</span>
                    </div>
                    <div class="product-description">
                        <span class="grey-price">150 lei</span>
                    </div>
                </div>
                <div class="product-footer">
                    <div class="pull-left">
                        <i class="icon-like"></i>
                    </div>
                    <div class="pull-right">
                        <span>iau!</span> <i class="icon-product-cart"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="item">
                <div class="product-content">
                    <div class="product-img">
                        <img src="~/assets/img/Temp/product3.png" />
                        <div class="discount">reducere -35%</div>
                    </div>
                    <div class="product-description title">
                        <span class="pink-text">
                            elf cosmetics
                        </span>
                    </div>
                    <div class="product-description">
                        <span class="grey-text">illuminating eye cream</span>
                    </div>
                    <div class="product-description">
                        <span class="grey-price crossOut-pink ">150 lei</span>
                        <div>
                            <span class="pink-price">99 lei</span>
                        </div>
                    </div>
                </div>
                <div class="product-footer">
                    <div class="pull-left">
                        <i class="icon-like"></i>
                    </div>
                    <div class="pull-right">
                        <span>iau!</span> <i class="icon-product-cart"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="item">
                <div class="product-content">
                    <div class="product-img">
                        <img src="~/assets/img/Temp/product2.png" />
                    </div>
                    <div class="product-description title">
                        <span class="pink-text">
                            christina
                            cosmetics
                        </span>
                    </div>
                    <div class="product-description">
                        <span class="grey-text">illuminating eye cream</span>
                    </div>
                    <div class="product-description">
                        <span class="grey-price">150 lei</span>
                    </div>
                </div>
                <div class="product-footer">
                    <div class="pull-left">
                        <i class="icon-like"></i>
                    </div>
                    <div class="pull-right">
                        <span>iau!</span> <i class="icon-product-cart"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="item">
                <div class="product-content">
                    <div class="product-img">
                        <img src="~/assets/img/Temp/product3.png" />
                        <div class="discount">reducere -35%</div>
                    </div>
                    <div class="product-description title">
                        <span class="pink-text">
                            elf cosmetics
                        </span>
                    </div>
                    <div class="product-description">
                        <span class="grey-text">illuminating eye cream</span>
                    </div>
                    <div class="product-description">
                        <span class="grey-price crossOut-pink ">150 lei</span>
                        <div>
                            <span class="pink-price">99 lei</span>
                        </div>
                    </div>
                </div>
                <div class="product-footer">
                    <div class="pull-left">
                        <i class="icon-like"></i>
                    </div>
                    <div class="pull-right">
                        <span>iau!</span> <i class="icon-product-cart"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="item">
                <div class="product-content">
                    <div class="product-img">
                        <img src="~/assets/img/Temp/product3.png" />
                        <div class="discount">reducere -35%</div>
                    </div>
                    <div class="product-description title">
                        <span class="pink-text">
                            elf cosmetics
                        </span>
                    </div>
                    <div class="product-description">
                        <span class="grey-text">illuminating eye cream</span>
                    </div>
                    <div class="product-description">
                        <span class="grey-price crossOut-pink ">150 lei</span>
                        <div>
                            <span class="pink-price">99 lei</span>
                        </div>
                    </div>
                </div>
                <div class="product-footer">
                    <div class="pull-left">
                        <i class="icon-like"></i>
                    </div>
                    <div class="pull-right">
                        <span>iau!</span> <i class="icon-product-cart"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="item">
                <div class="product-content">
                    <div class="product-img">
                        <img src="~/assets/img/Temp/product.png" />
                    </div>
                    <div class="product-description title">
                        <span class="pink-text">
                            jean destrees
                        </span>
                    </div>
                    <div class="product-description">
                        <span class="grey-text">cc cream</span>
                    </div>
                    <div class="product-description">
                        <span class="grey-price">150 lei</span>
                    </div>
                </div>
                <div class="product-footer">
                    <div class="pull-left">
                        <i class="icon-like"></i>
                    </div>
                    <div class="pull-right">
                        <span>iau!</span> <i class="icon-product-cart"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="item">
                <div class="product-content">
                    <div class="product-img">
                        <img src="~/assets/img/Temp/product2.png" />
                    </div>
                    <div class="product-description title">
                        <span class="pink-text">
                            christina
                            cosmetics
                        </span>
                    </div>
                    <div class="product-description">
                        <span class="grey-text">
                            BIO PHYTO
                            ANTI ROUGEURS MASK
                        </span>
                    </div>
                    <div class="product-description">
                        <span class="grey-price">150 lei</span>
                    </div>
                </div>
                <div class="product-footer">
                    <div class="pull-left">
                        <i class="icon-like"></i>
                    </div>
                    <div class="pull-right">
                        <span>iau!</span> <i class="icon-product-cart"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="item">
                <div class="product-content">
                    <div class="product-img">
                        <img src="~/assets/img/Temp/product3.png" />
                    </div>
                    <div class="product-description title">
                        <span class="pink-text">
                            elf cosmetics
                        </span>
                    </div>
                    <div class="product-description">
                        <span class="grey-text">illuminating eye cream</span>
                    </div>
                    <div class="product-description">
                        <span class="grey-price">150 lei</span>
                    </div>
                </div>
                <div class="product-footer">
                    <div class="pull-left">
                        <i class="icon-like"></i>
                    </div>
                    <div class="pull-right">
                        <span>iau!</span> <i class="icon-product-cart"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="text-description">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vitae euismod enim. Mauris quis nulla purus. Aliquam pellentesque, dolor eu tincidunt blandit, orci lorem luctus turpis, vitae imperdiet magna ex quis ligula. Suspendisse nisi sem, posuere eu neque vitae, lobortis commodo mi. Mauris vitae velit a libero sollicitudin tincidunt et quis tellus. Suspendisse potenti. Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque scelerisque pulvinar quam vitae scelerisque. Cras facilisis elementum tincidunt. Fusce magna nisl, placerat eu dolor vel, venenatis euismod mi. Donec fringilla varius ante, nec sodales lacus imperdiet ac.
    <br />
    <br />
    Ut dolor ex, consequat a maximus ac, molestie in sem. Vivamus aliquet venenatis est sed tristique. Nam viverra felis vitae justo eleifend, sit amet tempus mauris mattis. Donec in semper risus. Phasellus gravida lectus lectus. Nam vestibulum arcu id velit dictum porta. Sed eu dolor sit amet magna porta convallis porta facilisis purus. Mauris vitae felis sit amet ex lacinia ultrices ut sit amet quam. Nam ut dictum risus. Nullam porta ligula sed quam fringilla porta. Pellentesque fringilla ipsum quis quam imperdiet, id lobortis nisi condimentum. Sed condimentum purus sed mauris bibendum malesuada. Donec velit justo, feugiat elementum enim in, porttitor tempus purus. Duis in dictum massa, nec pretium est. Phasellus consectetur dignissim bibendum. Vivamus quis posuere ipsum.
</div>

