@using Newtonsoft.Json
@model List<CosmeticaShop.IServices.Models.Wish.WishModel>
@{
    ViewBag.Title = "Index";
}
@section Scripts {
    <script src="~/assets/js/Product/ProductFilter.js"></script>
    <script src="~/assets/js/Product/ProductModel.js"></script>
   
<script src="~/assets/js/Product/ProductLineView.js"></script>
    <script>
        var params = {};
        urlAddProductCart = '@Url.Action("AddInCart","Product")';
        urlAddProductWish = '@Url.Action("AddInWish","Product")';
        params.UrlGetProducts = '@Url.Action("Index","Product")';
        var urlDeleteWish = '@Url.Action("DeleteWish","Favorites")';
        params.Products = @Html.Raw(JsonConvert.SerializeObject(Model.Select(x=> x.Product)));
        var ViewModel = new Product.ProductLineView(params);

    </script>
}




<div class="row">
    <div class="col-md-12 white-container marginB-heigth-10">
        <div class="default-text navigation">
            <a href="@Url.Action("Index","Home")"> Principală </a> >  <span class="pink-darkk-text">Favorite</span></a>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 white-container">
        <div class="row">
            @if (Model.Count == 0)
            {
                <div class="block empty-favorit" align="center">
                    <i class="icon-very-big-pink-like"></i> <span>Nu ai adăugat nimic în favorite!</span>
                </div>
            }
            else
            {
                <div class="block" style="padding:2px;">
                    <div class="title-block" style="padding: 5px 10px 15px 10px;">
                        Favorite: <span data-bind="text:ViewModel.Products().filter(function(item){return item.IsWish() === true}).length"></span>
                    </div>
                    <div class="content">
                        <div class="row product-list" data-bind="foreach:ViewModel.Products().filter(function(item){return item.IsWish() === true})">
                           
                                <div class="col-md-3">
                                    <div class="item">
                                        <div class="product-content">
                                            <a data-bind="attr:{href:'@Url.Action("Details","Product")?id='+Id()}">
                                                <div class="product-img">
                                                    <img data-bind="attr:{src:PhotoUrl}" />
                                                    <!--ko if:DiscountPrice()!==0-->
                                                    <div class="discount">
                                                        reducere  <div>
                                                            -<span data-bind="text:DiscountPercent">35</span>%
                                                        </div>
                                                    </div>
                                                    <!--/ko-->
                                                </div>
                                            </a>
                                            <a data-bind="attr:{href:'@Url.Action("Details","Product")?id='+Id()}">
                                                <div class="product-description title">
                                                    <span class="pink-text" data-bind="text:Name">

                                                    </span>
                                                </div>
                                            </a>
                                            <a data-bind="attr:{href:'@Url.Action("Details","Product")?id='+Id()}">
                                                <div class="product-description">
                                                    <span class="grey-text" data-bind="text:Description"></span>
                                                </div>
                                            </a>

                                            <div class="product-description">
                                                <!--ko if:DiscountPrice()!==0-->
                                                <span class="grey-price crossOut-pink" data-bind="text:Price()+' lei'"></span>
                                                <div>
                                                    <span class="pink-price" data-bind="text:DiscountPrice()+' lei'"></span>
                                                </div>
                                                <!--/ko-->
                                                <!--ko if:DiscountPrice()===0-->
                                                <span class="grey-price" data-bind="text:Price()+' lei'"></span>
                                                <!--/ko-->
                                            </div>
                                        </div>
                                        <div class="product-footer">
                                            <div class="pull-left" data-bind="click:DeleteWish">
                                                <i class="icon-pink-like "></i>
                                            </div>
                                            <div class="pull-right" data-bind="click:AddProductCart">
                                                <span style="cursor: pointer;">iau!</span> <i class="icon-product-cart"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                          
                        </div>

                    </div>
                </div>
            }
        </div>
    </div>

</div>

<div class="row">
    <section>
        <div class="section-name small">Recomandări pentru tine</div>
        <div class="row product-list">
            <div class="col-md-3">
                <div class="item">
                    <div class="product-content">
                        <div class="product-img">
                            <img src="~/assets/img/Temp/product3.png" />
                            <div class="discount">reducere -35%</div>
                        </div>
                        <div class="product-description title">
                            <span class="pink-text">
                                elf cosmetics
                            </span>
                        </div>
                        <div class="product-description">
                            <span class="grey-text">illuminating eye cream</span>
                        </div>
                        <div class="product-description">
                            <span class="grey-price crossOut-pink ">150 lei</span>
                            <div>
                                <span class="pink-price">99 lei</span>
                            </div>
                        </div>
                    </div>
                    <div class="product-footer">
                        <div class="pull-left">
                            <i class="icon-like"></i>
                        </div>
                        <div class="pull-right">
                            <span>iau!</span> <i class="icon-product-cart"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="item">
                    <div class="product-content">
                        <div class="product-img">
                            <img src="~/assets/img/Temp/product.png" />
                        </div>
                        <div class="product-description title">
                            <span class="pink-text">
                                jean destrees
                            </span>
                        </div>
                        <div class="product-description">
                            <span class="grey-text">cc cream</span>
                        </div>
                        <div class="product-description">
                            <span class="grey-price">150 lei</span>
                        </div>
                    </div>
                    <div class="product-footer">
                        <div class="pull-left">
                            <i class="icon-like"></i>
                        </div>
                        <div class="pull-right">
                            <span>iau!</span> <i class="icon-product-cart"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="item">
                    <div class="product-content">
                        <div class="product-img">
                            <img src="~/assets/img/Temp/product2.png" />
                        </div>
                        <div class="product-description title">
                            <span class="pink-text">
                                christina
                                cosmetics
                            </span>
                        </div>
                        <div class="product-description">
                            <span class="grey-text">
                                BIO PHYTO
                                ANTI ROUGEURS MASK
                            </span>
                        </div>
                        <div class="product-description">
                            <span class="grey-price">150 lei</span>
                        </div>
                    </div>
                    <div class="product-footer">
                        <div class="pull-left">
                            <i class="icon-like"></i>
                        </div>
                        <div class="pull-right">
                            <span>iau!</span> <i class="icon-product-cart"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="item">
                    <div class="product-content">
                        <div class="product-img">
                            <img src="~/assets/img/Temp/product3.png" />
                        </div>
                        <div class="product-description title">
                            <span class="pink-text">
                                elf cosmetics
                            </span>
                        </div>
                        <div class="product-description">
                            <span class="grey-text">illuminating eye cream</span>
                        </div>
                        <div class="product-description">
                            <span class="grey-price">150 lei</span>
                        </div>
                    </div>
                    <div class="product-footer">
                        <div class="pull-left">
                            <i class="icon-like"></i>
                        </div>
                        <div class="pull-right">
                            <span>iau!</span> <i class="icon-product-cart"></i>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
</div>