@using CosmeticaShop.IServices.Enums
@using CosmeticaShop.Services.Static
<!-- BEGIN SIDEBAR -->
<div class="page-sidebar-wrapper">
    <!-- BEGIN SIDEBAR -->
    <div class="page-sidebar navbar-collapse collapse">
        <!-- BEGIN SIDEBAR MENU -->
        <ul class="page-sidebar-menu" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
            <li class="nav-item">
                <a href="javascript:;" class="nav-link nav-toggle">
                    <i class="icon-home"></i>
                    <span class="title">Главная</span>
                    <span class="arrow open"></span>
                </a>
                <ul class="sub-menu">
                    <li class="nav-item start">
                        <a href="@Url.Action("Slider","SitePage")" class="nav-link">
                            <span class="title">Слайдер</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a href="javascript:;" class="nav-link nav-toggle">
                    <i class="icon-globe"></i>
                    <span class="title">Страницы</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu">
                    @foreach (EnumSitePage type in Enum.GetValues(typeof(EnumSitePage)))
                    {
                        <li class="nav-item">
                            <a href="@Url.Action("Edit", "SitePage", new {id = type})" class="nav-link">
                                <span class="title">@EnumService.GetEnumDescription(type)</span>
                            </a>
                        </li>
                    }
                </ul>
            </li>
            <li class="nav-item">
                <a href="javascript:;" class="nav-link nav-toggle">
                    <i class="icon-shield"></i>
                    <span class="title">Бренды</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu">
                    <li class="nav-item">
                        <a href="@Url.Action("Brands","Product")" class="nav-link">
                            <span class="title">Управление</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="@Url.Action("AddBrand","Product")" class="nav-link">
                            <span class="title">Добавить</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a href="javascript:;" class="nav-link nav-toggle">
                    <i class="icon-tag"></i>
                    <span class="title">Категории</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu">
                    <li class="nav-item">
                        <a href="@Url.Action("Index","Category")" class="nav-link">
                            <span class="title">Управление</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="@Url.Action("AddCategory","Category")" class="nav-link">
                            <span class="title">Добавить</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a href="javascript:;" class="nav-link nav-toggle">
                    <i class="icon-handbag"></i>
                    <span class="title">Товары</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu">
                    <li class="nav-item">
                        <a href="@Url.Action("Index","Product")" class="nav-link">
                            <span class="title">Управление</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="@Url.Action("AddProduct","Product")" class="nav-link">
                            <span class="title">Добавить</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="@Url.Action("Coupons","Product")" class="nav-link">
                            <span class="title">Купоны</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a href="javascript:;" class="nav-link nav-toggle">
                    <i class="icon-basket"></i>
                    <span class="title">Заказы</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu">
                    <li class="nav-item">
                        <a href="@Url.Action("Index","Order")" class="nav-link">
                            <span class="title">Управление</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a href="javascript:;" class="nav-link nav-toggle">
                    <i class="icon-notebook"></i>
                    <span class="title">Справочники</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu">
                    <li class="nav-item">
                        <a href="@Url.Action("Tags","Product")" class="nav-link">
                            <span class="title">Теги товаров</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="@Url.Action("Cities","SitePage")" class="nav-link">
                            <span class="title">Города</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
        <!-- END SIDEBAR MENU -->
    </div>
    <!-- END SIDEBAR -->
</div>
<!-- END SIDEBAR -->