@using Newtonsoft.Json
@model CosmeticaShop.IServices.Models.Order.OrderHeaderModel
@{
    ViewBag.Title = "Index";
}
@section Scripts
{

    <script src="~/assets/js/Order/OrderHeaderModel.js"></script>
    <script src="~/assets/js/Order/OrderViewModel.js"></script>
    <script>
        var params = {};
        params.UrlAddOrder = '@Url.Action("AddOrder","Order")';
        params.Email = "@User.Email";
        params.Model =  @Html.Raw(JsonConvert.SerializeObject(Model));
        params.Model.Address =  @Html.Raw(JsonConvert.DeserializeObject(Model.Address));
        var ViewModel = new Order.OrderViewModel(params);
    </script>
}

<div class="row">
    <div class="col-md-12 white-container marginB-heigth-10">
        <div class="default-text navigation">
            <a href="@Url.Action("Index","Home")"> Principală </a> >  <span class="pink-darkk-text">Plasează comanda</span>
        </div>
    </div>
</div>

<div class="row margin-bottom-30" data-bind="with:ViewModel,style:{marginBottom: ViewModel.IsSuccess()? '474px' : '30px'}">
    <div class="col-md-12 white-container">
        <div class="row">
            <div class="form-order">

                @*<div class="item-form col-md-12" align="center">
                        <div class="title-item-form thanks-title">Vă mulțumim pentru comandă!</div>
                    </div>
                    <div class="item-form col-md-12" align="center">
                        <div class="title-item-form">Comanda nr.1111111 va fi procesată și confirmată prin email.</div>
                    </div>
                    <div class="item-form col-md-12" align="center">
                        <div class="title-item-form" style="padding:20px;"><a href="@Url.Action("Index","Home")" class="btn-pink">Pagina principală</a></div>

                    </div>*@
                <!--ko if:IsSuccess-->
                <div style="display: none;" data-bind="style:{display:IsSuccess? 'block' : 'none'}">
                    <div class="item-form">

                        <div class="form-group col-md-12 row" align="center">
                            @if (!User.IsAuthorized)
                            {
                                <div>
                                    Ordinul este emis cu succes, trebuie să vă conectați pentru a vizualiza istoricul comenzii. Dacă nu sunteți înregistrat, un e-mail cu parola din cont a fost trimis la e-mail-ul specificat.
                                </div>
                            }
                            else
                            {
                                <div>
                                    Pentru a vedea istoricul comenzilor, accesați profilul "<a style="color: #feabc9" href="@Url.Action("HistoryOrders","Cabinet")">Istoric comenzi</a>"
                                </div>
                            }
                        </div>
                    </div>
                </div>
                <!--/ko-->
                <!--ko ifnot:IsSuccess-->
                <div data-bind="with:Model">
                    <div class="item-form">
                        <div class="title-item-form">Adresa de e-mail pentru confirmarea comenzii:</div>
                        <div class="form-group col-md-12 row">
                            <div>
                                <label>E-mail</label>
                            </div>
                            <div class="col-md-3">
                                @if (!User.IsAuthorized)
                                {
                                    if (!User.IsUnAuthorizedUser)
                                    {
                                        <input name="Email" type="email" class="form-control" data-bind="textInput:Email" />
                                    }
                                    else
                                    {
                                        <input name="Email" type="email" disabled class="form-control" data-bind="textInput:Email" />
                                    }
                                }
                                else
                                {
                                    <input name="Email" type="email" disabled class="form-control" data-bind="textInput:Email" />
                                }
                            </div>
                        </div>
                    </div>

                    <div class="item-form">
                        <div class="title-item-form">Adresa de livrare:</div>
                        <div class="form-group row col-md-12">
                            <div class="address-form col-md-3">
                                <div>
                                    <label>Țara:</label>
                                </div>
                                <div class="col-md-12">
                                    <input name="Country" type="text" disabled class="form-control" data-bind="textInput:Country" />
                                </div>
                            </div>
                            <div class="address-form col-md-3">
                                <div>
                                    <label>Orașul:</label>
                                </div>
                                <div class="col-md-12">
                                    <input name="Town" type="text" class="form-control" data-bind="textInput:City" />
                                </div>
                            </div>
                            <div class="address-form col-md-3">
                                <div>
                                    <label>Adresa:</label>
                                </div>
                                <div class="col-md-12">
                                    <input name="Adresa:" type="text" class="form-control" data-bind="textInput:Address" />
                                </div>
                            </div>
                            <div class="address-form col-md-3">
                                <div>
                                    <label>Telefon:</label>
                                </div>
                                <div class="col-md-12">
                                    <input name="Phone" type="text" class="form-control" data-bind="textInput:Phone" />
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="item-form">
                        <div class="title-item-form">Modalitatea de livrare:</div>
                        <div class="form-group col-md-12 info-form">
                            <div class="margin-bottom-10">Curier - <span class="pink-darkk-text">GRATIS</span></div>
                            <div>Condițiile de livrare:</div>
                            <div>Due to high volume, your order might experience up to 8 business days delay. Flash 2 Day shipping might experience a 1 business day delay. 2 Day, 1 Day and Flash 1 Day shipping will not be affected.</div>
                        </div>
                    </div>

                    <div class="item-form">
                        <div class="title-item-form">Modalitatea de plată:</div>
                        <div class="form-group col-md-12 info-form">
                            <div>
                                Cash la livrare
                            </div>
                        </div>
                    </div>

                    <div class="item-form col-md-12">

                        <div class="title-item-form " align="center">
                            <div><span class="p-error" data-bind="text:$parent.ErrorMessage"></span></div>
                            Suma totală spre plată <span data-bind="text:Amount"></span> lei.
                        </div>
                    </div>

                    <div class="item-form footer col-md-12">
                        <div class="col-md-offset-5">
                            <button class="btn-pink" data-bind="click:$parent.AddOrder.bind($parent)">Confirmă comanda</button>
                        </div>

                    </div>
                </div>
                <!--/ko-->
            </div>
        </div>
    </div>

</div>
