@using Newtonsoft.Json
@model CosmeticaShop.Web.Models.OrderViewModel
@{
    ViewBag.Title = "Index";
}
@section Scripts
{

    <script src="~/assets/js/Order/OrderHeaderModel.js"></script>
    <script src="~/assets/js/Order/OrderViewModel.js"></script>
    <script>
        var params = {};
        params.UrlAddOrder = '@Url.Action("AddOrder","Order")';
        params.Email = "@User.Email";
        params.Model =  @Html.Raw(JsonConvert.SerializeObject(Model.Order));
        params.Model.Address =  @Html.Raw(JsonConvert.DeserializeObject(Model.Order.Address));
        params.Cities =   @Html.Raw(JsonConvert.SerializeObject(Model.Cities));
        var ViewModel = new Order.OrderViewModel(params);
    </script>
}

<div class="row">
    <div class="col-md-12 white-container marginB-heigth-10">
        <div class="default-text navigation">
            <a href="@Url.Action("Index","Home")"> Principală </a> >  <span class="pink-darkk-text">Plasează comanda</span>
        </div>
    </div>
</div>

<div class="row margin-bottom-30" data-bind="with:ViewModel,style:{marginBottom: ViewModel.IsSuccess()? '474px' : '30px'}">
    <div class="col-md-12 white-container">
        <div class="row">
            <div class="form-order">

                @*<div class="item-form col-md-12" align="center">
                        <div class="title-item-form thanks-title">Vă mulțumim pentru comandă!</div>
                    </div>
                    <div class="item-form col-md-12" align="center">
                        <div class="title-item-form">Comanda nr.1111111 va fi procesată și confirmată prin email.</div>
                    </div>
                    <div class="item-form col-md-12" align="center">
                        <div class="title-item-form" style="padding:20px;"><a href="@Url.Action("Index","Home")" class="btn-pink">Pagina principală</a></div>

                    </div>*@
                <!--ko if:IsSuccess-->
                <div style="display: none;" data-bind="style:{display:IsSuccess? 'block' : 'none'}">
                    <div class="item-form">

                        <div class="form-group col-md-12 row" align="center">
                            @if (!User.IsAuthorized)
                            {
                                <div>
                                    @Resource.OrderCompleteSuccess
                                </div>
                            }
                            else
                            {
                                <div>
                                    Pentru a vedea istoricul comenzilor, accesați profilul "<a style="color: #feabc9" href="@Url.Action("HistoryOrders","Cabinet")">Istoric comenzi</a>"
                                </div>
                            }
                        </div>
                    </div>
                </div>
                <!--/ko-->
                <!--ko ifnot:IsSuccess-->
                <div data-bind="with:Model">
                    <div class="item-form">
                        <div class="title-item-form">Adresa de e-mail pentru confirmarea comenzii:</div>
                        <div class="form-group col-md-12 row">
                            <div>
                                <label>E-mail</label>
                            </div>
                            <div class="col-md-3">
                                @if (!User.IsAuthorized)
                                {
                                    if (!User.IsUnAuthorizedUser)
                                    {
                                        <input name="Email" type="email" class="form-control" data-bind="textInput:Email" />
                                    }
                                    else
                                    {
                                        <input name="Email" type="email" disabled class="form-control" data-bind="textInput:Email" />
                                    }
                                }
                                else
                                {
                                    <input name="Email" type="email" disabled class="form-control" data-bind="textInput:Email" />
                                }
                            </div>
                        </div>
                    </div>

                    <div class="item-form">
                        <div class="title-item-form">Adresa de livrare:</div>
                        <div class="form-group row col-md-12">
                            <div class="address-form col-md-3">
                                <div>
                                    <label>Țara:</label>
                                </div>
                                <div class="col-md-12">
                                    <input name="Country" type="text" disabled class="form-control" data-bind="textInput:Country" />
                                </div>
                            </div>
                            <div class="address-form col-md-3">
                                <div>
                                    <label>Orașul:</label>
                                </div>
                                <div class="col-md-12">
                                    <select class="form-control" data-bind="options:$parent.Cities,optionsText:'Name',optionsValue:'Name',value:City">         
                                    </select>  
                                </div>
                            </div>
                            <div class="address-form col-md-3">
                                <div>
                                    <label>Adresa:</label>
                                </div>
                                <div class="col-md-12">
                                    <input name="Adresa:" type="text" class="form-control" data-bind="textInput:Address" />
                                </div>
                            </div>
                            <div class="address-form col-md-3">
                                <div>
                                    <label>Telefon:</label>
                                </div>
                                <div class="col-md-12">
                                    <input name="Phone" type="text" class="form-control" data-bind="textInput:Phone" />
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="item-form">
                        <div class="title-item-form">@Resource.DeliveryCriteria:</div>
                        <div class="form-group col-md-12 info-form">
                            <div class="margin-bottom-10">
                                Curier -
                                <!--ko if: Amount() >= 150-->
                                <span class="pink-darkk-text">GRATIS</span>
                                <!--/ko-->
                                <!--ko if: Amount() < 150-->
                                <span class="pink-darkk-text">  @CurrentSetting.DeliveryPrice lei</span>
                                <!--/ko-->
                            </div>
                            Dragi clienti, Livrarea coletelor se face intr-un interval cuprins intre o zi si patru zile lucratoare, in functie de momentul in care coletul pleaca din sediul Exclusiv Cristina SRL (nu de la plasarea comenzii).

                            Tarifele practicate de societatea noastra pentru expedieri sunt dupa cum urmeaza.

                            Livrare prin curier rapid in Bucuresti: Fan Courier

                            Fan Courier: Taxa de transport in Bucuresti este de 12.83
                            +TVA RON, la o comanda de peste 150 RON, transportul este Gratuit.

                            Livrare prin curier rapid in Romania: Fan Courier.

                            Taxa de transport este de @CurrentSetting.DeliveryPrice+TVA lei, indiferent de greutatea coletului, la o comanda de peste 150 lei transportul este GRATUIT.
                        </div>
                    </div>

                    <div class="item-form">
                        <div class="title-item-form">@Resource.PaymentCriteria:</div>
                        <div class="form-group col-md-12 info-form">
                            <div>
                                Cash la livrare
                            </div>
                        </div>
                    </div>

                    <div class="item-form col-md-12">

                        <div class="title-item-form " align="center">
                            <div><span class="p-error" data-bind="text:$parent.ErrorMessage"></span></div>
                            @Resource.PaymentAmount <span data-bind="text:Amount"></span> lei.
                            <!--ko if: Amount() < 150-->
                                                    <span class="pink-darkk-text"> + Curier @CurrentSetting.DeliveryPrice lei</span>                      
                            <!--/ko-->
                        </div>
                    </div>

                    <div class="item-form footer col-md-12">
                        <div class="col-md-offset-5">
                            <button class="btn-pink" data-bind="click:$parent.AddOrder.bind($parent)">@Resource.ConfirmOrder</button>
                        </div>

                    </div>
                </div>
                <!--/ko-->
            </div>
        </div>
    </div>

</div>
