@using Newtonsoft.Json
@model CosmeticaShop.Web.Models.ProductDetailsView
@section Styles {

    <link href="~/assets/js/Plugins/slick/slick.css" rel="stylesheet" />
    <link href="~/assets/js/Plugins/slick/slick-theme.css" rel="stylesheet" />
}
@section Scripts {

    <script src="~/assets/js/Plugins/slick/slick.js"></script>
    <script src="~/assets/js/Plugins/slick/slickInit.js"></script>
    <script src="~/assets/js/Product/ProductDetailModel.js"></script>
    <script src="~/assets/js/Product/ProductDetailViewModel.js"></script>
    <script>
        var params = {};
        urlAddProductCart = '@Url.Action("AddInCart","Product")';
        urlAddProductWish = '@Url.Action("AddInWish","Product")';
        params.UrlAddReview = '@Url.Action("AddReview","Product")';
        params.Model = @Html.Raw(JsonConvert.SerializeObject(Model.Product));
        var urlDeleteWish = '@Url.Action("DeleteWish","Favorites")';
        var ViewModel = new Product.ProductDetailViewModel(params);
    </script>
}

<div class="col-md-12 white-container marginB-heigth-10">
    <div class="default-text navigation">
        <a href="@Url.Action("Index","Home")"> Principală </a> >  <a href="@Url.Action("Index","Home")"> Branduri </a> > <a href="@Url.Action("Contacts","Home")"> <span class="pink-darkk-text">Contacte</span></a>
    </div>
</div>




<div class="col-md-12 white-container" data-bind="with:ViewModel">
    <div class="row" data-bind="with:Model">
        <div class="new-product">
            NEW
        </div>
        <div class="col-md-3 carousel">
            <div class="row">
                <div class="slider-preview col-md-12 col-sm-12 col-sx-12" align="center">
                    <div class="slider-single" data-bind="foreach:Photos">
                        <div class="item">
                            <img data-bind="attr:{src:$data}" />
                        </div>                       
                    </div>
                </div>
            </div>
            <div class="slider-nav col-md-12 " align="center" data-bind="foreach:Photos">
                <div class="item">
                    <img data-bind="attr:{src:$data}" />
                </div>       
            </div>

        </div>

        <div class="col-md-9 product-container">

            <div class="row">
                <div class="col-md-6 block-info-product">
                    <div class="title-product" data-bind="text:Name">               
                    </div>
                    <div class="info-product">
                        <div data-bind="text:BrandName">                     
                        </div>
                        <div>
                            cod: 001001001
                        </div>
                    </div>
                </div>

                <div class="col-md-6 block-info-product">
                    <div class="col-md-4">
                        <!--ko if:DiscountPrice()!==0-->
                        <span class="title-product crossOut-pink" data-bind="text:Price()+' lei'"></span>
                        <div>
                            <span class="pink-price" style="color: #ff669e;font-family: FuturaPTBook;" data-bind="text:DiscountPrice()+' lei'"></span>
                        </div>
                        <!--/ko-->
                        <!--ko if:DiscountPrice()===0-->
                        <span class="title-product" data-bind="text:Price()+' lei'"></span>
                        <!--/ko-->
                      
                        <div class="info-product">
                            <div class="pink-text">
                                <!--ko if:IsInStock-->
                                În stoc
                                <!--/ko-->
                                <!--ko ifnot:IsInStock-->
                                Nu este disponibil
                                <!--/ko-->
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <select class="form-control select-count" data-bind="options:$parent.SelectQuantity,value:Quantity">
                        </select>
                    </div>
                    <div class="col-md-5">
                        <button class="btn-pink" data-bind="click:AddProductCart">Adaugă în coș</button>
                        <!--ko if:IsWish-->
                        <div  class="pull-right product-like" data-bind="click:DeleteWish">
                            <i class="icon-pink-like "></i>
                        </div>
                        <!--/ko-->
                        <!--ko ifnot:IsWish-->
                        <div  class="pull-right product-like" data-bind="click:AddProductWish">
                            <i class="icon-like "></i>
                        </div>
                        <!--/ko-->
                       
                    </div>
                </div>
            </div>
            <div class="col-md-12 block-guarantee">
                <div class="item">
                    <i class="icon-free-delivery"></i>
                    <span class="pink-text">
                        Livrare
                        gratuită
                    </span>
                </div>
                <div class="item">
                    <i class="icon-medal"></i>
                    <span class="pink-text">
                        Calitate
                        superioară
                    </span>
                </div>
            </div>

            <div class="col-md-12 block-description">
                <div class="title-description">
                    Descrierea produsului:
                </div>
                <div class="description-product" data-bind="text:Content">
                   
                </div>
            </div>

        </div>
    </div>
</div>






<section>
    <div class="section-name">Produse similare</div>
    <div class="row product-list">
        <div class="col-md-3">
            <div class="item">
                <div class="product-content">
                    <div class="product-img">
                        <img src="~/assets/img/Temp/product3.png" />
                        <div class="discount">reducere -35%</div>
                    </div>
                    <div class="product-description title">
                        <span class="pink-text">
                            elf cosmetics
                        </span>
                    </div>
                    <div class="product-description">
                        <span class="grey-text">illuminating eye cream</span>
                    </div>
                    <div class="product-description">
                        <span class="grey-price crossOut-pink ">150 lei</span>
                        <div>
                            <span class="pink-price">99 lei</span>
                        </div>
                    </div>
                </div>
                <div class="product-footer">
                    <div class="pull-left">
                        <i class="icon-like"></i>
                    </div>
                    <div class="pull-right">
                        <span>iau!</span> <i class="icon-product-cart"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="item">
                <div class="product-content">
                    <div class="product-img">
                        <img src="~/assets/img/Temp/product.png" />
                    </div>
                    <div class="product-description title">
                        <span class="pink-text">
                            jean destrees
                        </span>
                    </div>
                    <div class="product-description">
                        <span class="grey-text">cc cream</span>
                    </div>
                    <div class="product-description">
                        <span class="grey-price">150 lei</span>
                    </div>
                </div>
                <div class="product-footer">
                    <div class="pull-left">
                        <i class="icon-like"></i>
                    </div>
                    <div class="pull-right">
                        <span>iau!</span> <i class="icon-product-cart"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="item">
                <div class="product-content">
                    <div class="product-img">
                        <img src="~/assets/img/Temp/product2.png" />
                    </div>
                    <div class="product-description title">
                        <span class="pink-text">
                            christina
                            cosmetics
                        </span>
                    </div>
                    <div class="product-description">
                        <span class="grey-text">
                            BIO PHYTO
                            ANTI ROUGEURS MASK
                        </span>
                    </div>
                    <div class="product-description">
                        <span class="grey-price">150 lei</span>
                    </div>
                </div>
                <div class="product-footer">
                    <div class="pull-left">
                        <i class="icon-like"></i>
                    </div>
                    <div class="pull-right">
                        <span>iau!</span> <i class="icon-product-cart"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="item">
                <div class="product-content">
                    <div class="product-img">
                        <img src="~/assets/img/Temp/product3.png" />
                    </div>
                    <div class="product-description title">
                        <span class="pink-text">
                            elf cosmetics
                        </span>
                    </div>
                    <div class="product-description">
                        <span class="grey-text">illuminating eye cream</span>
                    </div>
                    <div class="product-description">
                        <span class="grey-price">150 lei</span>
                    </div>
                </div>
                <div class="product-footer">
                    <div class="pull-left">
                        <i class="icon-like"></i>
                    </div>
                    <div class="pull-right">
                        <span>iau!</span> <i class="icon-product-cart"></i>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
@if (Model.PossibilityReview)
{
    <div class="col-md-12 white-container block-add-review" data-bind="with:ViewModel">
        <div class="title-block">
            Adaugă recenzie
        </div>

        <input type="text" class="review" data-bind="textInput:Review,event:{keydown:function(data,event){if(event.keyCode === 13){AddReview(ViewModel)}else return true}}"/>
    </div>
}
<div class="reviews" data-bind="with:ViewModel.Model">
    <!--ko foreach:Reviews-->
    <div class="col-md-12 white-container reviews-container" data-bind="css:{last: $context.$index()=== $parent.Reviews().length-1}">

        <div class="row item">
            <div class="col-md-3 user">
                <img src="~/assets/img/woman-photo.png"/>
                <span data-bind="text:User.FirstName+' '+ User.LastName"></span>
            </div>
            <div class="col-md-9">
                <div class="col-md-9 message" data-bind="text:Content">
                
                </div>
                <div class="col-md-3 date" data-bind="text:new Date(DateCreateJs).toLocaleDateString()"></div>
            </div>
        </div>

    </div>
    <!--/ko-->
    
</div>
@Html.Partial("~/Views/Shared/Popup/Wish.cshtml")