@using Newtonsoft.Json
@model CosmeticaShop.Web.Models.ProductsViewModel
@{
    ViewBag.Title = "Produsele";
}
@section Scripts {
    <script src="~/assets/js/Product/ProductFilter.js"></script>
    <script src="~/assets/js/Product/ProductModel.js"></script>
    <script src="~/assets/js/Product/ProductViewModel.js"></script>
    <script>
        var params = {};
        urlAddProductCart = '@Url.Action("AddInCart","Product")';
        urlAddProductWish = '@Url.Action("AddInWish","Product")';
        params.UrlGetProducts = '@Url.Action("Index","Product")';
        params.Products = @Html.Raw(JsonConvert.SerializeObject(Model.Products));
        params.Filter = @Html.Raw(JsonConvert.SerializeObject(Model.Filter));
        SeachFormModel.Search(params.Filter.Search);
        var urlDeleteWish = '@Url.Action("DeleteWish","Favorites")';
        var ViewModel = new Product.ProductViewModel(params);

    </script>
}


<div class="col-md-12 white-container marginB-heigth-10">
    <div class="default-text navigation">
        <a href="@Url.Action("Index","Home")"> Principală </a> >  
        <span class="pink-darkk-text">Produsele</span>
    </div>
</div>


<div class="col-md-3 white-container" data-bind="with:ViewModel">


    <ul class="sidebar-filter" data-bind="with:Filter">
        <li>
            <div class="title-filter">
                Brandul produsului
            </div>
            <div class="content">
                @foreach (var brand in Model.Brands)
                {
                    <div>
                        <input type="checkbox" name="brand" data-bind="checked:BrandiesId" id="@brand.Id @brand.Name" value="@brand.Id.ToString()" />
                        <label for="@brand.Id @brand.Name"><span></span>@brand.Name</label>
                    </div>
                }

            </div>
        </li>

        <li>
            <div class="title-filter">
                Сategorie
            </div>
            <div class="content">
                @foreach (var category in Model.Categories)
                {
                    <div>
                        <input type="checkbox" name="category" data-bind="checked:CategoriesId" id="@category.Id @category.Name" value="@category.Id.ToString()"/>
                        <label for="@category.Id @category.Name"><span></span>@category.Name</label>
                    </div>
                    foreach (var child in category.ChildCategories)
                    {
                        <div style="margin-left: 25px;">
                            <input name="category" type="checkbox" data-bind="checked:CategoriesId" id="@child.Id @child.Name" value="@child.Id.ToString()"/>
                            <label for="@child.Id @child.Name"><span></span>@child.Name</label>
                        </div>
                    }
                }

            </div>
        </li>
        <li>
            <div class="title-filter">
                Tag-uri
            </div>
            <div class="content">
                @foreach (var tag in Model.Tags)
                {
                    <div>
                        <input type="checkbox" name="tag"  data-bind="checked:TagsId" id="@tag.Id@tag.Name" value="@tag.Id.ToString()" />
                        <label for="@tag.Id@tag.Name"><span></span>@tag.Name</label>
                    </div>
                }

            </div>
        </li>

    </ul>
</div>



<div class="col-md-9 padding-0 col-md-9-content">
    <div class="product-list" data-bind="with:ViewModel">

        <div class="product-list-content" data-bind="foreach:Products">
            <div class="col-md-4">
                <div class="item">
                    <div class="product-content">
                        <a data-bind="attr:{href:'@Url.Action("Details","Product")?id='+Id()}">
                            <div class="product-img">
                                <img data-bind="attr:{src:PhotoUrl}" />
                                <!--ko if:DiscountPercent()!==0-->
                                <div class="discount" style="visibility:hidden;" data-bind="style:{visibility:DiscountPercent()!==0 ?'visible': 'hidden'}">
                                    reducere  <div>
                                        -<span data-bind="text:DiscountPercent">35</span>%
                                    </div>
                                </div>
                                <!--/ko-->
                            </div>
                        </a>
                        <a data-bind="attr:{href:'@Url.Action("Details","Product")?id='+Id()}">
                            <div class="product-description title">
                                <span class="pink-text" data-bind="text:Name">

                                </span>
                            </div>
                        </a>
                        <a data-bind="attr:{href:'@Url.Action("Details","Product")?id='+Id()}">
                            <div class="product-description">
                                <span class="grey-text" data-bind="text:Description"></span>
                            </div>
                        </a>

                        <div class="product-description">
                            <!--ko if:DiscountPercent()!==0-->
                            <span class="grey-price crossOut-pink" data-bind="text:Price()+' lei'"></span>
                            <div>
                                <span class="pink-price" data-bind="text:DiscountPrice()+' lei'"></span>
                            </div>
                            <!--/ko-->
                            <!--ko if:DiscountPercent()===0-->
                            <span class="grey-price" data-bind="text:Price()+' lei'"></span>
                            <!--/ko-->
                        </div>
                    </div>
                    <div class="product-footer">
                        <!--ko if:IsWish-->
                        <div class="pull-left" data-bind="click:DeleteWish">
                            <i class="icon-pink-like "></i>
                        </div>
                        <!--/ko-->
                        <!--ko ifnot:IsWish-->
                        <div class="pull-left" data-bind="click:AddProductWish">
                            <i class="icon-like "></i>
                        </div>
                        <!--/ko-->
                        <div class="pull-right" data-bind="click:AddProductCart">
                            <span style="cursor: pointer;">iau!</span> <i class="icon-product-cart"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        @if (Model.Pagination.PageSize > 1)
        {
            <div class="pagination product-list-pagination">
                @if (Model.Pagination.PageNumber > 1)
                {
                    <a href="@Url.Action("Index", "Product", new {page = Model.Pagination.PageNumber - 1})">
                        <span class="prev icon-arrow-left-mini"></span>
                    </a>
                }
                <div class="content">
                    @for (int i = 1; i <= Model.Pagination.PageSize; i++)
                    {
                        <a href="@Url.Action("Index", "Product", new {page = i})">
                            <div class="block-pagination">
                                @if (Model.Pagination.PageNumber == i)
                                {
                                    <span class="num active">@i</span>
                                }
                                else
                                {
                                    <span class="num">@i</span>
                                }
                            </div>
                        </a>
                    }

                </div>
                @if (Model.Pagination.PageSize > Model.Pagination.PageNumber)
                {
                    <a href="@Url.Action("Index", "Product", new {page = Model.Pagination.PageNumber + 1})">
                        <span class="next icon-arrow-right-mini"></span>
                    </a>
                }
            </div>
        }
    </div>
</div>
@Html.Partial("~/Views/Shared/Popup/Wish.cshtml")